# Cadena de conexión de tu base de datos PostgreSQL (Neon, Render, etc.)
# Ejemplo (Neon): postgresql://usuario:contraseña@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=

# Puerto local (Render lo asigna automáticamente en producción, no hace falta tocarlo allá)
PORT=3000
